<div id="header" class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Переключатель</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" rel="home" href="#">Встроенная форма</a>
  </div>

  <div class="collapse navbar-collapse">

    <ul class="nav navbar-nav">
      <li><a href="http://ya.ru">Яндекс</a></li>
      <li><a href="http://google.com">Google</a></li>
    </ul>
    <div class="col-sm-3 col-md-3 pull-right">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Неработающий поиск" name="srch-term" id="srch-term">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>


<div class="container">

  <div class="row">
    <div class="col-sm-4 ">
      <iframe src="https://fathomless-caverns-4713.herokuapp.com/form" scrolling="no" width="100%" height="480" frameborder="0" headerId="header" >Фреймы не поддерживаются</iframe>
    </div>
    <div class="col-sm-8">
      <h1>Пример</h1>
      <p>
        Форма слева вставлена с помощью следующего кода:
      </p>
      <div class="well well-sm">
        <samp><%= '<iframe src="https://fathomless-caverns-4713.herokuapp.com/form" scrolling="no" width="100%" height="480" frameborder="0" headerId="header" >Фреймы не поддерживаются</iframe>' %>
        </samp>
      </div>
      <p>
        Запомните как выглядит шапка и попробуйте послать письмо с помощью формы.
      </p>
    </div>
  </div>

</div><!-- /.container -->